body {
  background-color: darkgray;
  background-image: url('matrix.jpg')
}

.title {
  color: lightgray;
  text-align: center;
  font-family: Verdana;
}

.grid-container {
  display: grid;
  justify-content: space-around;
}
